.cell {
  height: 100px;
  text-align: center;
  border: none;
  width: 100px;
  background: white;
}

table {
  background-color: black;
  margin: 27px;
  opacity: 0.5;
}

.hidden {
  display: none;
}